.h2 {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--color-accent);
  letter-spacing: var(--typography-letterSpacing);
  margin-bottom: var(--spacing-small);
}