.padding {
  value: var(--spacing-medium);
  weight: 0.8;
}

.padding {
  value: var(--spacing-medium);
  weight: 0.8;
}

.padding {
  value: var(--spacing-xsmall) var(--spacing-small);
  weight: 0.8;
}