.backgroundColor {
  value: var(--color-backgroundAlt);
  weight: 0.9;
}

.backgroundColor {
  value: var(--color-backgroundAlt);
  weight: 0.9;
}

.backgroundColor {
  value: var(--color-accent);
  weight: 0.9;
}