.heading.h1 {
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--color-textPrimary);
  letter-spacing: var(--typography-letterSpacing);
  margin-bottom: var(--spacing-large);
}

.heading.h2 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  color: var(--color-textPrimary);
  letter-spacing: var(--typography-letterSpacing);
  margin-bottom: var(--spacing-medium);
}

.heading.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  color: var(--color-textPrimary);
  letter-spacing: var(--typography-letterSpacing);
  margin-bottom: var(--spacing-small);
}

.heading.h4 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
  color: var(--color-textPrimary);
  letter-spacing: var(--typography-letterSpacing);
  margin-bottom: var(--spacing-small);
}