.secondary {
  background-color: var(--color-secondaryLight);
  text-color: var(--color-secondary);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-pill);
  font-weight: var(--font-weight-medium);
  transition: var(--duration-normal) var(--easing-spring);
  hover: [object Object];
  focus: [object Object];
}